<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uqac.dim.crypturmess">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="uqac.dim.crypturmess.CrypturMessApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_crypturmess_img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_crypturmess_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptUrMess">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>

        <service
            android:name=".services.AppService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activities.ContactActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.RegisterActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ContactActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.MessagesActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MessagesActivity" />

        </activity>
        <activity
            android:name=".ui.activities.AddContactActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.AddContactActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:configChanges="screenSize|orientation|screenLayout|navigation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.SettingsActivity"/>
        </activity>


    </application>

</manifest>